<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
</head>

<body>
    <h1>Register a new user</h1>
    <form method="POST">
        First Name:<input type="text" name="first_name" required /><br>
        Last Name: <input type="text" name="last_name" required/><br>
        Username: <input type="text" name="username" required/><br>
        Email: <input type="email" name="email" required/><br>
        Password: <input type="password" name="password" required/><br>
        Roles:
        <% for(let role of roles) { %>
            <input type="radio" name="role" value="<%= role.role_id %>" /><%= role.role_name %>
        <% } %>
        <br><br>
        <input type="submit" value="Register" />
    </form>

</body>

</html>